@import './main.css';

.header img {
  display: block;
  padding: 0.5rem;
  width: 50%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.main-masterclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  align-items: stretch;
}

.container #live{
  background-color: aliceblue;
}

.container .player {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.container .chat {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#player-iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 4px;
}

#chat-iframe {
  width: 100%;
  height: 100%;
  min-height: 480px;
  border: 0;
  border-radius: 4px;
  background-color: aliceblue;
}

#no-live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor-texto-claro);
}

#no-live p,
#no-live li {
  text-align: center;
  margin: 0.4rem;
  line-height: 1.25;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.d-none {
  display: none;
}

/* Media query para celulares */
@media screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .container .player,
  .container .chat {
    width: 100%;
  }

  #chat-iframe {
    min-height: 480px;
  }
}
